.git
.gitignore
__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/
.idea/
*.DS_Store
k8s/
*.md
*:Zone.Identifier
__pycache__/
*.pyc
.env
.venv/
venv/
.vscode/
.idea/
terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example